{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
<h1 align="center">Resume</h1>

<!-- Show my resume -->
<!-- <iframe src="C:\Users\sande\Documents\Projects\InteractivePortfolio\Resume2023v2.pdf" width="100%" height="1000px"></iframe> -->

<!-- <iframe src="https://drive.google.com/file/d/1C_Znf4vnORxs1rT625DeXfIyB6gDYq1O/view&embed" width="100%" height="1000px" >
    <div class="fallback">
        <p>This browser does not support PDFs. Please download the PDF to view it: 
            <a href="C:/Users/sande/Documents/Projects/InteractivePortfolio/Resume2023v2.pdf">Download PDF</a>
            .
        </p>
    </div>
</iframe> -->

<!-- <iframe
    src="https://drive.google.com/file/d/1C_Znf4vnORxs1rT625DeXfIyB6gDYq1O/view"
    frameBorder="0"
    scrolling="auto"
    height="1000px"
    width="100%"
></iframe> -->

<iframe src="https://drive.google.com/file/d/1C_Znf4vnORxs1rT625DeXfIyB6gDYq1O/preview" width="100%" height="1200px" allow="autoplay">
    <div class="fallback">
        <p>This browser does not support PDFs. Please download the PDF to view it: 
            <a href="https://drive.google.com/file/d/1C_Znf4vnORxs1rT625DeXfIyB6gDYq1O/preview">Download PDF</a>
            .
        </p>
    </div>
</iframe>

<!-- Download Resume button -->
<a href="https://drive.google.com/file/d/1C_Znf4vnORxs1rT625DeXfIyB6gDYq1O/preview">Download PDF</a>
{% endblock %}